body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar {
    width: 100%;
    z-index: 100;

}

.navbar-default .navbar-brand
{
    color: #ffffff;
    margin: 0;padding: 0;
}

.navbar-default
{
    background: #2A3132;
}

.navbar-default .navbar-nav > li > a:hover
{
    color: #90AFC5;
    background: #000000;
}

.navbar-default .navbar-nav > li > a
{

    color: #ffffff;
    font-weight: bold;
}

.navbar-brand > img
{
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
}
.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.copyright {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 5px;
    background: #2A3132;
    color: #cccccc;
}

.copyright .row > div:first-of-type {
    text-align: right;
}

.copyright .row a {
    margin-right: 5px;
    color: #cccccc;
    padding-right: 9px;
    text-decoration: none;
    text-transform: capitalize;
}

.copyright .row a:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.copyright .row a:hover {
    color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
    .copyright .row div {
        text-align: center !important;
    }
}
