body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

main
{
    vertical-align: middle;
    height: 100vh;
    padding-top: 10vh;
}
.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}
.sidebar-nav .navbar ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}
.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.sidebar-nav .navbar li a:hover {
    background: #68829e;
    color: #ffffff;
    font-weight: bold;
}

.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
table.glyphicon-hover tbody .glyphicon {
    visibility: hidden;
}
table.glyphicon-hover tbody tr:hover .glyphicon {
    visibility: visible;
}
.glyphicon-button
{
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.glyphicon {
    top: 5px;
}
.white
{
    color: #ffffff;
}
.green
{
    color: #1c941e;
}
.gray
{
    color: #5e5e5e;
}
.red
{
    color:#ff0000;
}
.copyright {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 5px;
    background: #2A3132;
    color: #cccccc;
}

.copyright .row > div:first-of-type {
    text-align: right;
}

.copyright .row a {
    margin-right: 5px;
    color: #cccccc;
    padding-right: 9px;
    text-decoration: none;
    text-transform: capitalize;
}

.copyright .row a:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.copyright .row a:hover {
    color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
    .copyright .row div {
        text-align: center !important;
    }
}
