.navbar {
    width: 100%;
    z-index: 100;

}

.navbar-default .navbar-brand
{
    color: #ffffff;
    margin: 0;padding: 0;
}

.navbar-default
{
    background: #2A3132;
}

.navbar-default .navbar-nav > li > a:hover
{
    color: #90AFC5;
    background: #000000;
}

.navbar-default .navbar-nav > li > a
{

    color: #ffffff;
    font-weight: bold;
}

.navbar-brand > img
{
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.carousel-inner > .item > img {
    height: 100vh;
    width: 100%;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    -moz-transition: opacity ease-in-out 5s;
    -o-transition: opacity ease-in-out 5s;
    -webkit-transition: opacity ease-in-out 5s;
    transition: opacity ease-in-out 5s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}

.carousel.fade .item:first-child {
    top: auto;
    position: relative;
}

.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out 5s;
    -o-transition: opacity ease-in-out 5s;
    -webkit-transition: opacity ease-in-out 5s;
    transition: opacity ease-in-out 5s;
    z-index: 2;
}
.footer-below {
    font-size: 0.9em;
    padding: 5px;
    background: #2A3132;
    color: #cccccc;
}

.footer-below .row > div:first-of-type {
    text-align: right;
}

.footer-below .row a {
    margin-right: 5px;
    color: #cccccc;
    padding-right: 9px;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-below .row a:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.footer-below .row a:hover {
    color: #90AFC5;
}

a.btn-social, a.btn-social:visited, a.btn-social:active {
    color: #FFFFFF;
}

.social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.footer-above
{
    background: #eaeaea;
}
h3,h4
{
    font-weight: bold;
}
.about-icons
{
    /*background: #FFD34A;*/
}
.about-icons img
{
    width: 125px;
    margin: 10px;
    float: left;
}
/*.about .row .about-image
{

}*/
.books
{
    background: #336B87;
    padding: 20px;
}
.books header
{
color: #FFFFFF;
}
.books .img-books
{
    width: 150px;
    height: 250px;
}
.circle:hover
{
    border-radius: 300px;
    height: 300px;
    font-weight: bold;
    font-size: 1.3em;
    width: 300px;
    display: table;
    margin: 20px auto;
    border: 7px double #FFFFFF;
}
.circle
{
    border-radius: 300px;
    height: 300px;
    font-size: 1.3em;
    width: 300px;
    display: table;
    margin: 20px auto;
    border: 5px double #FFFFFF;
}
.block {
    text-align: center;
    vertical-align: middle;
}
.circle img
{
    padding-top: 30px;
}

.testimonials
{
    background: #eaeaea;
    padding: 20px;
}

.circle-li-img
{
    border-radius: 70px;
    height: 70px;
    font-weight: bold;
    font-size: 1.3em;
    width: 70px;
    display: table;
}
.rec-paragraph
{
    font-style: italic;
    font-weight: bold;
    font-family: Cambria,Georgia,serif;
}
.speaking
{
    background-color: #F5D04C;
    padding: 20px;
}
.articles
{
    padding: 20px;
}
/*

#social-li:hover {
    color: #0077B5;
}*/
