<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home : Nada Sanders</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">

</head>
<body>

<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logonrs.png"/></a>
            </div>

            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#speaking">Speaking</a></li>
                    <li><a href="#articles">Articles</a></li>
                    <li><a href="#books">Books</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<main>

    <div class="carousel fade hidden-xs hidden-sm visible-md visible-lg" data-ride="carousel" data-pause="null"
         data-interval="10000">
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/Photo%202.jpg" class="img-responsive"/>
            </div>
            <div class="item">
                <img src="images/Photo%208.jpg" class="img-responsive"/>
            </div>
            <div class="item">
                <img src="images/Photo%209.jpg" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="container">
            <header>
                <h3>About</h3>
            </header>
            <div class="row">
                <div class="col-sm-3">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <br>
                    <img src="images/Sanders%20Cropped%20Photo%20copy.jpg" class="about-image" width="250" height="320">
                </div>
                <div class="col-sm-9">
                    <h3>Teacher and Scholar</h3>
                    <p>Dr. Sanders is an internationally recognized thought leader and expert in forecasting, predictive
                        analytics, risk management and supply chain management. Her expertise is in identifying best
                        practices in forecasting, developing a corporate technology strategy, and creating a resilient
                        supply chain. She is author of the books Big Data Driven Supply Chain Management (Pearson),
                        Foundations of Sustainable Business (Wiley), Forecasting Fundamentals (BEP) as well as Supply
                        Chain Management: A Global Perspective in its 2nd edition (Wiley), and is co-author of the book
                        Operations Management, in its 6th edition. She was ranked in the top 8 percent of individuals in
                        the field of operations management from a pool of 738 by a study of research productivity in
                        U.S. business schools, is a Fellow of the Decision Sciences Institute, and has served on the
                        Board of Directors of the International Institute of Forecasters (IIF), Decision Sciences
                        Institute (DSI), and the Production Operations Management Society (POMS). She was co-founder and
                        Associate Editor of Foresight: The International Journal of Applied Forecasting.</p>
                    <p>Dr. Sanders is the Distinguished Professor of Supply Chain Management at the D’Amore-McKim School
                        of Business at Northeastern University. Previously she served as the Iacocca Chair at Lehigh
                        University and as the West Chair and Professor of Supply Chain Management the M.J. Neeley School
                        of Business, Texas Christian University, where she was also Research Director of the Supply and
                        Value Chain Center. She holds a Ph.D. in Operations Management and Logistics, and an MBA, from
                        the Fisher College of Business at The Ohio State University, as well as a B.S. in Mechanical
                        Engineering.</p>
                </div>
                <div class="col-sm-12">
                    <h3>Thought Leader</h3>
                    <p>Throughout her career Dr. Sanders has successfully held a range of leadership roles in both
                        academic and professional organizations and has served on numerous executive boards. She has
                        provided training and consulting to a range of Fortune 500 companies, including IDG, Nike, AT&T,
                        CIBA Corning, Mattel, Schottenstein Corp., Cognitive TPG, MTC Corp., Dell, and many others, and
                        is a frequently called upon keynote speaker and expert witness having worked with firms such as
                        Jones Day; Vorys, Sater, Seymour and Pease; and others. Most notably she served for Quinn,
                        Emanuel, Urquhart & Sullivan, LLP providing expert testimony and deposition in the Mattel vs.
                        MGA case regarding forecasting process, information technology use and impact of data
                        presentation on decision making.</p>
                    <h3>Expert Witness</h3>
                    <p>She has experience collaborating with industry and NGO leaders creating teams of both faculty and
                        practitioners to jointly address research questions. As Research Director of the Supply and
                        Value Chain Center (SVCC) at TCU, she was instrumental in developing a programmatic research
                        agenda that unified business challenges of SVCC members with faculty research interests.
                        Recently she was asked to serve on the SCLA (Supply Chain Leaders in Action) Executive
                        Committee, a by invitation only group of Fortune 1000 companies, charged with addressing
                        pressing issues facing supply chain and logistics executives. Dr. Sanders has received numerous
                        research and teaching awards, including the Carl Beidelman Research Award (2012) at Lehigh
                        University, a university award given for highest quality research and was named the MBA
                        Professor of the Year (2012).</p>
                    <h3>Author</h3>
                    <p>Dr. Sanders has authored over one hundred scholarly works and has served on the editorial boards
                        of prominent journals in her field, including the Journal of Operations Management, Production
                        and Operations Management, Decision Sciences Journal, Journal of Business Logistics, and
                        International Institute of Forecasting.</p>
                    <p>In 2008 she was invited to serve as a participant at The Gordon Cook Conversations at Windsor
                        Castle, UK. This retreat brought together a small diverse group of international leaders
                        identified to have ‘star quality’ in order to develop strategies to impact society in the coming
                        decade.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Areas of Expertise</div>
                        <div class="panel-body">
                            <p>- Forecasting and Big Data Analytics</p>
                            <p>- Forecasting Across the Supply Chain</p>
                            <p>- Supply Chain Strategy</p>
                            <p>- Supply Chain Resilience</p>
                            <p>- Procurement and Supplier-Buyer Relationships</p>
                            <p>- Sustainable Business</p>
                            <p>- Risk and Crisis Management</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <br>
    <div class="about-icons">
        <div class="container">
            <div class="row">
                <img src="images/5db2d0ad3d011c070a4ec13b4237a0ab_olympic-motivational-speaker-dell-logo-clip-art_2778-2769.jpeg"/>
                <img src="images/2793878_international-data-group-idg-logo-100704676-large.jpg"/>
                <img src="images/A-and-T-logo-vector.png"/>
                <img src="images/apics%20new%20logo.PNG"/>
                <img src="images/carnival-logo.png"/>
                <img src="images/cscmp_logo.jpg"/>
                <img src="images/download.png"/>
                <img src="images/dsi.png"/>
                <img src="images/harvard.png"/>
                <img src="images/INFORMS-3.jpg"/>
                <img src="images/ISM.png"/>
                <img src="images/Jones_Day_Logo_1.svg.png"/>
                <img src="images/LEGO_logo.jpg"/>
                <img src="images/nike.png"/>
                <img src="images/Schottenstein_Stores_Corp_Logo.jpg"/>
                <img src="images/poms_logo.jpg"/>
            </div>
        </div>
    </div>
    <div class="speaking" id="speaking">
        <div class="container">
            <header>
                <h3>Speaking</h3>
            </header>
            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/68866759"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/pyeZq7OrIqo" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="articles" id="articles">
        <div class="container">
            <header>
                <h3></h3>
            </header>
            <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">Articles</div>
                <div class="panel-body"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="books" id="books">
        <div class="container">
            <header>
                <h3>Author</h3>
            </header>
            <div class="row">
                <div class="col-md-4 block">
                    <div class="circle">
                        <a href="https://www.amazon.com/Data-Driven-Supply-Chain-Management/dp/0133801284/ref=la_B0055JD684_1_5?s=books&ie=UTF8&qid=1410447002&sr=1-5"><img
                                src="images/1.jpg"
                                class="img-books"/></a>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <div class="circle">
                        <a href="https://www.amazon.com/Forecasting-Fundamentals-Nada-Sanders-ebook/dp/B01MQIKZUX/ref=sr_1_1?s=books&ie=UTF8&qid=1492319112&sr=1-1&keywords=Forecasting+Fundamentals%2C+Business+Expert+Press%2C+2016"><img
                                src="images/2.jpg"
                                class="img-books"/></a>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <div class="circle">
                        <a href="https://www.amazon.com/Supply-Chain-Management-Global-Perspective/dp/0470141174/ref=la_B0055JD684_1_2?s=books&ie=UTF8&qid=1410447002&sr=1-2"><img
                                src="images/3.JPG"
                                class="img-books"/></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 block">
                    <div class="circle">
                        <a href="https://www.amazon.com/Foundations-Sustainable-Business-Function-Strategy/dp/1118441044/ref=la_B0055JD684_1_11?s=books&ie=UTF8&qid=1410447002&sr=1-11"><img
                                src="images/4.JPG"
                                class="img-books"/></a>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <div class="circle">
                        <a href="https://www.amazon.com/Operations-Management-R-Dan-Reid/dp/1118122674/ref=la_B0055JD684_1_1?s=books&ie=UTF8&qid=1410620710&sr=1-1"><img
                                src="images/5.JPG"
                                class="img-books"/></a>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <div class="circle">
                        <a href="https://www.amazon.com/Definitive-Guide-Manufacturing-Service-Operations/dp/0133438643/ref=la_B0055JD684_1_6?s=books&ie=UTF8&qid=1410447002&sr=1-6"><img
                                src="images/6.JPG"
                                class="img-books"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials" id="testimonials">
        <div class="container">
            <div class="row" id="recs">
                <div class="test">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="https://www.linkedin.com/in/michael-jacobs-bb31a78/">
                                <div class="col-md-1">
                                    <img src="images/Michael_Jacobs.jpg" class="circle-li-img"/>
                                </div>
                                <div class="col-md-2">
                                    Michael Jacobs<br/>
                                    Chief Logistics Officer at Green Mountain Coffee Rosters
                                </div>
                            </a>
                            <div class="col-md-9">
                                <p class="rec-paragraph">
                                    "I had first met Dr. Nada Sanders several years ago through an industry group called
                                    Supply Chain Leaders in Action (SCLA) where we worked together in leadership roles.
                                    Since that time, Nada and I have partnered on numerous industry projects and
                                    presentations.<br/>Nada is one of the most knowledgeable supply chain professionals
                                    I
                                    have had the good fortune of knowing. She is a master of technical supply chain
                                    topics,
                                    has a focus on lean sigma and continuous improvement, is collaborative in approach
                                    and
                                    is a true visionary in her strategic view of the supply chain industry.<br/>It is
                                    for
                                    these reasons that I offer my highest of recommendations for Nada as an educator,
                                    consultant and business leader."<br/><span class="pull-right">-Michael Jacobs</span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="test">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="https://www.linkedin.com/in/dr-bernd-huber-6567a95/">
                                <div class="col-md-1">
                                    <img src="images/profile-icon.png" class="circle-li-img"/>
                                </div>
                                <div class="col-md-2">
                                    Dr Bernd Huber<br/>
                                    Head Sourcing Center of Excellence at Google
                                </div>
                            </a>
                            <div class="col-md-9">
                                <p class="rec-paragraph">
                                    "I experienced a presentation from Nada at the ISM conference in Las Vegas 2014. She
                                    is
                                    a fantastic presenter with great content on Big Data and its Impact on Supply
                                    Chains."<br/><span class="pull-right">-Dr Bernd Huber</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="https://www.linkedin.com/in/joellsutherland/">
                                <div class="col-md-1">
                                    <img src="images/Joel_Sutherland.jpg" class="circle-li-img"/>
                                </div>
                                <div class="col-md-2">
                                    Joel Sutherland<br/>
                                    President-Envoy, Inc.;<br/>Professor of Practice,Supply Chain Management- University
                                    of
                                    San Deigo
                                </div>
                            </a>
                            <div class="col-md-9">
                                <p class="rec-paragraph">
                                    "I’ve had the pleasure of working with Nada since 2009 when she joined Lehigh
                                    University
                                    as the Iacocca Chair in Supply Chain Management. Nada is a forward-thinking
                                    educator,
                                    researcher and consultant who consistently motivates students to excel while
                                    producing
                                    cutting edge research that companies and industry professionals can apply.<br/>I’ve
                                    also
                                    had the opportunity to see her present at various conferences and workshops. While
                                    Nada
                                    is certainly an engaging and inspirational speaker, that isn't what keeps the
                                    participants on the edge of their seats. Rather, it is the acknowledgement that they
                                    are
                                    in the presence of a supply chain visionary who is always thinking outside the box
                                    and
                                    creating innovative supply chain solutions.<br/>One final attribute that I’d like to
                                    point out is trust. Without a doubt, Nada has developed a reputation founded on
                                    trust
                                    that students and industry professionals can rely on. When she says or commits to
                                    something, you can rest assured that it is truthful and that she will deliver based
                                    on
                                    her promise."<br/><span class="pull-right">-Joel Sutherland</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="https://www.linkedin.com/in/siri-terjesen-a2596/">
                                <div class="col-md-1">
                                    <img src="images/Siri_terejesen.jpg" class="circle-li-img"/>
                                </div>
                                <div class="col-md-2">
                                    Siri Terejesen<br/>
                                    Chair and Associate Professor at American University
                                </div>
                            </a>
                            <div class="col-md-9">
                                <p class="rec-paragraph">
                                    "Nadia is a wonderful colleague and collaborator. She brings boundless energy,
                                    brilliant
                                    thinking, and fresh insights to each project. It is an absolute pleasure to work
                                    with
                                    her."
                                    <br/><span class="pull-right">-Siri Terejesen</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="https://www.linkedin.com/in/katevitasek/">
                                <div class="col-md-1">
                                    <img src="images/Kate_Vitaset.jpg" class="circle-li-img"/>
                                </div>
                                <div class="col-md-2">
                                    Kate Vitaset<br/>
                                    Author,educator and architect of the Vested business model
                                </div>
                            </a>
                            <div class="col-md-9">
                                <p class="rec-paragraph">
                                    "I have known Nada as a colleague for a number of years, watched her give
                                    presentations
                                    and am familiar with her research. She is an outstanding speaker, committed teacher,
                                    and
                                    innovative scholar. Her work in forecasting is on the cutting edge addressing key
                                    business and supply chain issues in times of change."
                                    <br/><span class="pull-right">-Kate Vitaset</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="pager">
                    <li class="previous"><a id="btn_prev" href="javascript:prevPage()">Previous</a></li>
                    <li class="next"><a id="btn_next" href="javascript:nextPage()">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contact-us" id="contact">
        <div class="container">
            <header>
                <h3>Contact</h3>
            </header>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>It is always great to hear from readers, former students, and potential collaborators. Use this
                        form to get in touch with me. Or, you can simply email me at : <a
                                href="mailto:nadasanders@gmail.com">nadasanders@gmail.com</a>
                    </p>
                </div>
                <div class="col-md-6 col-sm-12" ng-controller="contactController">
                    <form class="form-horizontal" id="contactForm" name="userForm" data-ng-submit="sendEmail()"
                          novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" class="form-control" name="name" data-ng-model="user.name"
                                       placeholder="Name"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="email" class="form-control" name="email" data-ng-model="user.email"
                                       placeholder="Email ID"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Subject</label>
                                <input type="text" class="form-control" name="subject" data-ng-model="user.subject"
                                       placeholder="Subject"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Message</label>
                                <textarea class="form-control" name="message" data-ng-model="user.message"
                                          placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Submit"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <header>
                        <h3>Nada R. Sanders</h3>
                    </header>
                    <h4>Ph.D. Distinguished Professor of Supply Chain Management</h4>
                    <address>D'Amore McKim School of Business<br>
                        Northeastern University<br>
                        214 Hayden Hall<br>
                        Boston, MA 02115<br>
                        617.373.7198<br>
                        <a href="mailto:nadasanders@gmail.com">nadasanders@gmail.com</a><br></address>
                </div>
                <div class="col-md-4 col-sm-12">
                    <br/>
                    <a href="http://www.damore-mckim.northeastern.edu/faculty/s/sanders-nada" class="btn btn-sm">
                        <img src="images/DMSBLogo_S_koKO.png" height="50" width="200"></a>
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/nada-sanders-99154a5/"
                            data-format="inline" data-related="false"></script>
                    <!--<a href="https://www.linkedin.com/in/juileejadhav" class="btn btn-sm btn-linkedin"><i id="social-li" class="fa fa-linkedin fa-2x social"></i></a>-->
                    <br/>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 pull-right">
                    <a href="#">Privacy</a>
                    <a href="#">Legal</a>
                    <a href="#">Terms</a>
                </div>
                <div class="col-sm-6 col-xs-12 pull-left">&copy; 2017 NRS, LLC</div>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/scripts.js"></script>
</html>